/*font-family: 'Shadows Into Light', cursive;
 font-family: 'Indie Flower', cursive;
*/

#contenidos{
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	

}


/*ETIQUETAS*/
body{
background-image: url(../img/fondo1.jpg);
background-repeat: no-repeat;
background-size: cover;

}

figure{
        background: white;
        margin-bottom: 20px;
        border-radius: 10px;
	}
h1{
font-family: 'gothic book', cursive;
color: white;
margin-left: 10px;
font-size: 20px;
text-align: center; 
}

h2{
font-family: 'gothic book', cursive;
color: white;
margin-left: 10px;
font-size: 20px;
text-align: center; 
}

h3{
font-family: 'gothic book', cursive;;
color: white;
font-size: 15px;
text-align: center; 
}


header{
	width: 1000px;
	height: 120 px;
	background: rgba(255, 255, 255, 10,70);
}

nav{
width: 1000px;
height: 50px;
background: rgb(0,102,128);
border-radius: 10px;

}
ul{
margin: auto;
padding-top: 4px;
}

li{
	float: left;
	list-style-type: none;
	padding: 10px;
	background: rgb(242,184,13);
	margin: 3px;
	border-radius: 10px;
	box-shadow: 0 0 10px white inset; 
	text-align: center;

}

section{
	width: 700px;
	background: gainsboro;
	height: 600px;
	float: left;
	margin-top: 20px;
	border-radius: 10px;
}
aside{

	width: 280px;
	background: gainsboro;
	height: 600px;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	border-radius: 10px;
}

footer{
width: 1000px;
height: 70px;
background: rgb(0,102,128);
float: left;
margin-top: 20px;
border-radius: 10px;
margin-bottom: 20px;
}

p{

	font-size: 15px;
	font-weight: white;
	line-height: 24px;
	padding: 10px;
	text-align: justify;
}




/*CLASES*/

.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color: white; text-decoration: none;}
.menu:visited{color: white; text-decoration: none;}
.menu:hover{color: white; text-decoration: none; text-shadow: 0 0 13px white;}
.menu:active{color: white; text-decoration: none;}

/*SEUDO CLASES*/

















